// 1rem = 82.5px
$prefix: main-page;
$bg_mask: "../assets/imgs/bg_mask.png";

@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");
@font-face {
  font-family: "FZYaSong-H-GBK";
  src: url("../fonts/FZYaSong-H-GBK.TTF") format("truetype");
}

@font-face {
  font-family: "FZZongYi-M05S";
  src: url("../fonts/FZZYJW.TTF") format("truetype");
}

@font-face {
  font-family: "Microsoft YaHei UI";
  src: url("../fonts/msyhbd.ttc") format("truetype");
}

.#{$prefix}-container {
  width: inherit;
  height: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-size: contain;
  background-position: center;
  background-image: url($bg_mask);
  background-color: #3e7af9;

  transition: filter 0.3s;

  img {
    object-fit: contain;
    object-position: center;
  }
  > * {
    margin: 0 auto;
  }
}

.#{$prefix}-report-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  filter: blur(20px);
  background-color: #000;
  z-index: 1;
}

.#{$prefix}-report-container {
  z-index: -1;
  transition: opacity 0.5s, transform 0.5s, z-index 0s 0.5s;
  transform: translateY(1rem);
  opacity: 0;
  position: fixed;
  width: 4.8rem;
  height: 9rem;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 10px;

  overflow: hidden;
  > span {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 100px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    right: 0;
    height: 1rem;
    bottom: 0;
    position: absolute;
    font-size: 0.22rem;
    padding: 0.17rem 0 0 0.2rem;
  }

  > .ant-spin {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }

  > img {
    position: absolute;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s;
  }
  > img[state="loaded"] {
    opacity: 1;
  }

  > p {
    position: absolute;
    bottom: 0.3rem;
    left: 0.7rem;
    margin: 0;
    color: #fff;
    font-size: 0.26rem;
  }
}

.#{$prefix}-logo {
  position: absolute;
  width: 2.7rem;
  top: 0.2rem;
  color: #fff;
  font-family: "ZCOOL KuaiLe";
  font-size: 0.26rem;
  text-align: center;
}

.#{$prefix}-title {
  position: absolute;

  font-family: FZZongYi-M05S;
  font-style: normal;
  font-weight: normal;
  line-height: 0.53rem;
  /* identical to box height */

  color: #ffffff;
}

.#{$prefix}-title-country {
  top: 0.96rem;
  font-size: 0.462rem;
}

.#{$prefix}-title-sub {
  top: 1.65rem;
  font-size: 0.69rem;
}

.#{$prefix}-covid-info-container {
  position: absolute;
  width: 3.9rem;
  height: 3.4rem;
  background: #ffffff;
  box-shadow: 0px 12px 20px rgba(0, 70, 187, 0.47);
  border-radius: 10px;
}

.#{$prefix}-covid-info-container-data {
  top: 2.55rem;
}

.#{$prefix}-covid-info-container-graph {
  top: 6.25rem;
  height: 2.1rem;
  > .#{$prefix}-covid-info-title {
    font-family: FZZongYi-M05S;
  }

  > .ant-spin {
    width: 100%;
    height: 1.62rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > .ant-spin-dot-spin {
      margin-bottom: 0.11rem;
    }
  }
}

.#{$prefix}-covid-info-title {
  width: 100%;
  height: 0.48rem;

  background: linear-gradient(
    180deg,
    rgba(106, 155, 246, 0.64) 0%,
    #699df4 100%
  );
  border-radius: 10px 10px 0px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Microsoft Sans Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.22rem;
  line-height: 0.25rem;

  color: #ffffff;
}

.#{$prefix}-covid-today {
  font-family: FZZongYi-M05S;
  font-style: normal;
  font-weight: normal;
  font-size: 0.44rem;
  line-height: 0.5rem;
  text-align: center;
  margin: 0.3rem 0 0;

  color: #3d7cf8;
}

.#{$prefix}-covid-today-count {
  margin: 0.12rem 0 0;
}

.#{$prefix}-covid-multi-container {
  width: 90%;
  border-top: 1px solid #c9c9cb;
  margin: 0.22rem auto 0;

  display: flex;
  justify-content: center;
}

.#{$prefix}-covid-trending-chart {
  position: absolute;
  top: 25%;
  width: 100%;
}

.#{$prefix}-covid-trending-chart > #apexchartsLinearxchart {
  margin: auto;
}

.#{$prefix}-country-selector {
  top: 8.65rem;
  position: absolute;
  display: flex;
  justify-content: space-around;

  font-family: FZYaSong-H-GBK;
  font-style: normal;
  font-weight: normal;
  font-size: 0.22rem;
  line-height: 0.25rem;
  color: #ffffff;

  > div {
    margin-left: 0.22rem;
  }
}

.#{$prefix}-covid-info-container-aboutus {
  height: 1.25rem;
  top: 8.65rem;
  > section {
    position: relative;
    height: 50%;
    left: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > p {
      margin: 0;

      font-family: ZCOOL KuaiLe;
      font-style: normal;
      font-weight: normal;
      font-size: 0.15rem;
      line-height: 0.15rem;

      color: #b1b1b1;
    }
  }
  > img {
    right: 0.35rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.78rem;
    position: absolute;
  }
}

.#{$prefix}-covid-aboutus-tips {
  position: absolute;
  top: 10.1rem;
  font-family: Microsoft YaHei UI;
  font-style: normal;
  font-weight: normal;
  font-size: 0.17rem;
  line-height: 0.22rem;
  color: #ffffff;
}

.#{$prefix}-covid-info-title-left {
  position: absolute;
  padding: 0.2rem;
  width: 0.56rem;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(85, 142, 237, 0.78);
  box-shadow: inset 0px 4px 4px rgba(106, 155, 246, 0.64);

  font-family: FZZongYi-M05S;
  font-style: normal;
  font-weight: normal;
  font-size: 0.2rem;
  line-height: 0.22rem;
  color: #ffffff;
}

.#{$prefix}-generate-report-button {
  position: absolute;
  width: 3.3rem;
  height: 0.73rem;
  top: 9.2rem;

  background: #5796ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: FZZongYi-M05S;
  font-style: normal;
  font-weight: normal;
  font-size: 0.25rem;
  line-height: 0.29rem;

  color: #ffffff;
}

.#{$prefix}-report-show-animated {
  transition: opacity 1s, transform 1s;
  z-index: 2;
  opacity: 1;
  transform: none;
  // animation: #{$prefix}-report-show-animation 0.5s ease-out forwards;
}

.apexcharts-yaxis-label {
  font-size: 0.14rem;
  line-height: 0.14rem;
}

@keyframes #{$prefix}-report-show-animation {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
  }
}
