// 1rem = 82.5px

$prefix: main-page;

.#{$prefix}-container {
  width: inherit;
  height: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    object-fit: contain;
    object-position: center;
  }
  > * {
    margin: 0 auto;
  }
}

.#{$prefix}-logo {
  position: absolute;
  width: 2.7rem;
  top: 0.15rem;
}

.#{$prefix}-title {
  position: absolute;

  font-family: FZZongYi-M05S;
  font-style: normal;
  font-weight: normal;
  line-height: 0.53rem;
  /* identical to box height */

  color: #ffffff;
}

.#{$prefix}-title-country {
  top: 0.96rem;
  font-size: 0.462rem;
}

.#{$prefix}-title-sub {
  top: 1.65rem;
  font-size: 0.69rem;
}

.#{$prefix}-covid-info-container {
  position: absolute;
  width: 3.9rem;
  height: 3.4rem;
  background: #ffffff;
  box-shadow: 0px 12px 20px rgba(0, 70, 187, 0.47);
  border-radius: 10px;
}

.#{$prefix}-covid-info-container-data {
  top: 2.55rem;
}

.#{$prefix}-covid-info-container-graph {
  top: 6.25rem;
  height: 2.1rem;
  > .#{$prefix}-covid-info-title {
    font-family: FZZongYi-M05S;
  }
}

.#{$prefix}-covid-info-title {
  width: 100%;
  height: 0.48rem;

  background: linear-gradient(
    180deg,
    rgba(106, 155, 246, 0.64) 0%,
    #699df4 100%
  );
  border-radius: 10px 10px 0px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Microsoft Sans Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.22rem;
  line-height: 0.25rem;

  color: #ffffff;
}

.#{$prefix}-covid-today {
  font-family: FZZongYi-M05S;
  font-style: normal;
  font-weight: normal;
  font-size: 0.44rem;
  line-height: 0.5rem;
  text-align: center;
  margin: 0.3rem 0 0;

  color: #3d7cf8;
}

.#{$prefix}-covid-today-count {
  margin: 0.12rem 0 0;
}

.#{$prefix}-covid-multi-container {
  width: 90%;
  border-top: 1px solid #c9c9cb;
  margin: 0.22rem auto 0;

  display: flex;
  justify-content: center;
}

.#{$prefix}-country-selector {
  top: 8.65rem;
  position: absolute;
  display: flex;
  justify-content: space-around;

  font-family: FZYaSong-H-GBK;
  font-style: normal;
  font-weight: normal;
  font-size: 0.22rem;
  line-height: 0.25rem;
  color: #ffffff;

  > div {
    margin-left: 0.22rem;
  }
}

.#{$prefix}-generate-report-button {
  position: absolute;
  width: 3.3rem;
  height: 0.73rem;
  top: 9.2rem;

  background: #5796ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: FZZongYi-M05S;
  font-style: normal;
  font-weight: normal;
  font-size: 0.25rem;
  line-height: 0.29rem;

  color: #ffffff;
}
