$prefix: covidinfo;

.#{$prefix}-container {
  height: 0.945rem;
  margin: 0.15rem auto 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > p {
    font-family: FZChaoCuHei-M10S;
    font-style: normal;
    font-weight: normal;
    margin: auto;
  }
  
  > p:first-child {
    font-size: 0.23rem;
    color: #4B86EA;
  }

  > p:nth-child(2) {
    font-size: 0.215rem;
  }

  > p:last-child {
    font-size: 0.13rem;
    color: #BCBCBC;
  }
}
