$prefix: covid;

.#{$prefix}-app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3E7AF9;
}

html {
  font-size: 22vw;
}

@media (min-width: 500px) {
  html {
    font-size: 12vw;
  }
}