$prefix: covid;

html, body {
  overflow: hidden;
}

.#{$prefix}-app {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #3e7af9;
}
